@CHARSET "ISO-8859-1";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {

}

#header.header-scrolled {
  top: 0;
  background: rgba(0, 0, 0, 0.9);
}

#header .logo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 0px;
  text-decoration: none;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

@media screen and (max-width: 575.98px) {
  
  #header {
    min-height: 60px;
  }

}

@media (max-width: 992px) {

  #header {
    top: 0;
  }

  #header .navbar .logo {
    font-size: 28px;
  }
}

.header-inner-pages {
  background: rgba(0, 0, 0, 0.9) !important;
}